# Server
PORT=5000
NODE_ENV=development

# PostgreSQL Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=society_management
DB_USER=postgres
DB_PASSWORD=your_postgres_password

# JWT
JWT_SECRET=replace_with_a_long_random_secret_key
JWT_EXPIRES_IN=7d

# File Upload
MAX_FILE_SIZE_MB=5
UPLOAD_DIR=src/uploads

# CORS
CLIENT_URL=http://localhost:5173

# Razorpay (test mode)
RAZORPAY_KEY_ID=rzp_test_SVgay4IkMpag1d
RAZORPAY_KEY_SECRET=replace_with_your_razorpay_key_secret
